/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/upload/user_images/*
/public/upload/slider/*
/public/upload/products/*
/public/upload/brand/*
/public/upload/admin_images/*
/public/upload/category_slider/*
